@font-face {
  font-family: "source_sans_probold";
  src: url("../fonts/sourcesanspro-bold-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "source_sans_problack";
  src: url("../fonts/sourcesanspro-black-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "source_sans_prolight";
  src: url("../fonts/sourcesanspro-light-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "source_sans_proregular";
  src: url("../fonts/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "source_sans_proitalic";
  src: url("../fonts/sourcesanspro-it-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-it-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "source_sans_prosemibold";
  src: url("../fonts/sourcesanspro-semibold-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@media (min-width: 500px) {
  .wrapper {
    margin: 0 5em;
  }
  .nav {
    padding: 0 5em;
  }
}
@media (min-width: 768px) {
  .nav {
    height: 82px;
  }
  .nav__burger {
    display: none;
  }
  .nav__items {
    top: 0;
    position: relative;
    flex-direction: row;
    align-items: center;
  }
  .nav__item {
    display: block;
    color: #ffffff;
    margin: 0 1.5em;
  }
  .nav__item::after, .nav__item::before {
    border-bottom: 2px solid #ffffff;
  }
}
@media (min-width: 1200px) {
  .nav__logo {
    width: 178px;
    height: 61px;
    font-size: 3.3rem;
  }
}
@media (min-width: 1400px) {
  .wrapper {
    margin: 0 12em;
  }
  .nav {
    padding: 0 0 0 12em;
  }
}
@media (min-width: 1800px) {
  .wrapper {
    margin: 0 20em;
  }
  .nav {
    padding: 0 1em 0 20em;
  }
}
@media (min-width: 768px) {
  .section1__bottom-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .section1__bottom-icons p {
    margin: 0.6em 0.6em;
  }
  .section1__bottom-icons p img {
    width: 60px;
    height: 60px;
  }
  .section1__bottom-icons .medium {
    grid-column: span 6;
  }
  .section1__bottom-icons .wide {
    grid-column: span 3;
  }
  .section1__bottom-icons .narrow {
    grid-column: span 2;
  }
  .section1__bottom-icons p:nth-child(8) {
    margin-bottom: 0.6em;
  }
}
@media (min-width: 900px) {
  .section1 {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .section1__top {
    width: 80%;
  }
  .section1__bottom {
    margin-top: 5em;
  }
  .section1__container {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .section1 {
    padding-bottom: 5em;
  }
  .section1__image {
    position: absolute;
    top: 0;
    right: -10%;
    width: 50%;
    height: 100%;
    background-image: url(../assets/section1/section1-desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .section1__image-button {
    cursor: pointer;
    position: fixed;
    display: block;
    top: 100px;
    right: 1%;
    width: 297px;
    height: 55px;
    font-size: 1.4rem;
    border-radius: 6px;
    background-color: #3b4bdc;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #3b4bdc;
    transition: 0.3s;
    z-index: 15;
  }
  .section1__image-button:hover {
    background-color: #2334ca;
  }
  .section1__container {
    width: 65%;
  }
}
@media (min-width: 1600px) {
  .section1__image {
    right: -7%;
    width: 40%;
  }
}
@media (min-width: 1800px) {
  .section1__image {
    right: -5%;
    width: 40%;
  }
  .section1__header-title {
    font-family: "source_sans_problack", sans-serif;
    color: #1d1d1b;
    font-size: 48px;
    line-height: 67px;
    letter-spacing: 4%;
    margin-bottom: 0;
  }
  .section1__header-subtitle {
    font-family: "source_sans_prolight", sans-serif;
    color: #3b4bdc;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 4%;
    margin-bottom: 60px;
  }
  .section1__top {
    width: 60%;
  }
  .section1__top-title {
    font-family: "source_sans_proregular", sans-serif;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 4%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 0;
  }
  .section1__top-list p {
    font-family: "source_sans_proregular", sans-serif;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 4%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 0;
  }
  .section1__container {
    width: 70%;
  }
  .section1__bottom h2 {
    font-family: "source_sans_probold", sans-serif;
    color: #3b4bdc;
    font-size: 26px;
    line-height: 24px;
    letter-spacing: 2%;
    margin-bottom: 40px;
  }
  .section1__bottom p {
    font-family: "source_sans_proregular", sans-serif;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 4%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 758px) {
  .section2__header {
    padding-top: 2em;
  }
  .section2__box {
    margin: 0.5em 0.5em;
  }
}
@media (min-width: 992px) {
  .section2__box {
    margin: 1em;
  }
}
@media (min-width: 1200px) {
  .section2__box {
    margin: 1em;
  }
}
@media (min-width: 1400px) {
  .section2__header-title {
    font-family: "source_sans_problack", sans-serif;
    color: #1d1d1b;
    font-size: 48px;
    line-height: 67px;
    letter-spacing: 4%;
    margin-bottom: 0;
  }
  .section2__header-subtitle {
    font-family: "source_sans_prolight", sans-serif;
    color: #3b4bdc;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 4%;
    margin-bottom: 60px;
  }
  .section2__box {
    width: 330px;
    height: 300px;
    background-repeat: no-repeat;
    margin: 2em;
  }
  .section2__box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 90%;
  }
  .section2__box-description {
    font-family: "source_sans_prosemibold", sans-serif;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 4.5%;
    margin-bottom: 15px;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .section3__header {
    padding-top: 2em;
  }
  .section3__box-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2em;
  }
  .section3__box-card div {
    margin: 1em;
  }
  .section3__box-card div:nth-child(3) {
    margin-bottom: 1em;
  }
}
@media (min-width: 1120px) {
  .section3__box {
    width: 100%;
  }
  .section3__box-main {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}
@media (min-width: 1400px) {
  .section3__container {
    padding: 5em 0;
  }
  .section3__header-title {
    font-family: "source_sans_problack", sans-serif;
    color: #1d1d1b;
    font-size: 48px;
    line-height: 67px;
    letter-spacing: 4%;
    margin-bottom: 0;
  }
  .section3__header-subtitle {
    font-family: "source_sans_prolight", sans-serif;
    color: #3b4bdc;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 4%;
    margin-bottom: 60px;
  }
  .section3__box-date--number {
    font-family: "source_sans_problack", sans-serif;
    color: #1d1d1b;
    font-size: 48px;
    line-height: 67px;
    letter-spacing: 4%;
    margin-bottom: 0;
    color: #ffffff;
  }
  .section3__box-date--description {
    font-family: "source_sans_prosemibold", sans-serif;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 2%;
    margin-bottom: 20px;
  }
  .section3__box-card div {
    width: 450px;
    height: 210px;
    margin: 2em;
  }
  .section3__box-card div:nth-child(3) {
    margin-bottom: 2em;
  }
  .section3__box-card h3 {
    color: #1d1d1b;
    font-family: "source_sans_prosemibold", sans-serif;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 4.5%;
    margin-bottom: 15px;
  }
  .section3__box-card p {
    font-family: "source_sans_proregular", sans-serif;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 4%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: center;
  }
  .footer__top {
    width: 50%;
  }
  .footer__top-logo {
    width: 335px;
    height: 83px;
  }
  .footer__top-icons {
    margin: 0 1em 0 0;
  }
  .footer__top-addres {
    margin: 0 0 0 3em;
  }
  .footer__top-addres::after {
    left: -25%;
  }
  .footer__bottom {
    width: 40%;
  }
  .footer__bottom-line::before {
    min-width: 35%;
  }
  .footer__bottom-line::after {
    min-width: 35%;
  }
}
@media (min-width: 992px) {
  .footer__bottom-box {
    width: 75%;
  }
}
@media (min-width: 1200px) {
  .footer__top-logo {
    max-width: 394px;
    max-height: 85px;
  }
  .footer__top-button {
    width: 257px;
    height: 55px;
  }
}
@media (min-width: 1400px) {
  .footer {
    padding-top: 4em;
  }
  .footer__top-logo {
    width: 454px;
    height: 103px;
  }
  .footer__top-button {
    width: 297px;
    height: 55px;
  }
  .footer__top-addres p {
    font-family: "source_sans_proregular", sans-serif;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 4%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 0;
  }
  .footer__top-addres--bold {
    font-family: "source_sans_probold", sans-serif;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 4%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer__top-addres::after {
    left: -20%;
  }
  .footer__bottom-line::before {
    min-width: 38%;
  }
  .footer__bottom-line {
    margin-bottom: 1.5em;
  }
  .footer__bottom-line::after {
    min-width: 38%;
  }
  .footer__bottom-line2 {
    margin-bottom: 1.5em;
  }
  .footer__bottom-line2::before {
    min-width: 28%;
  }
  .footer__bottom-line2::after {
    min-width: 28%;
  }
  .footer__bottom p {
    font-family: "source_sans_proregular", sans-serif;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 4%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.3rem;
    padding: 0.2em 0;
  }
}/*# sourceMappingURL=mediaQueries.css.map */