@media (min-width: 768px) {
  .nav {
    justify-content: space-around;
  }
  .nav__burger {
    display: none;
  }
  .nav__items {
    top: 0;
    position: relative;
    flex-direction: row;
  }
  .nav__item {
    display: block;
    color: #ffffff;
    margin: 0 1.5em;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    margin: 10em;
  }
}
@media (min-width: 1400px) {
  .wrapper {
    margin: 0 25em;
  }
}
@media (min-width: 768px) {
  .section1__image {
    position: relative;
    width: 35%;
    height: 80em;
    background-image: url(../assets/section1/01.png);
    background-size: cover;
    background-position: center;
  }
  .section1__image-button {
    position: absolute;
    display: block;
    right: 0;
    top: 25px;
    width: 277px;
    height: 47px;
    border-radius: 6px;
    background-color: #3b4bdc;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #3b4bdc;
  }
  .section1__box {
    display: flex;
  }
  .section1__container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 2em;
  }
  .section1__bottom-icons {
    display: flex;
    flex-wrap: wrap;
  }
  .section1__bottom-icons p:nth-child(1) {
    width: 50%;
  }
  .section1__bottom-icons p:nth-child(2) {
    width: 40%;
  }
  .section1__bottom-icons p:nth-child(3) {
    width: 100%;
  }
  .section1__bottom-icons p:nth-child(4) {
    width: 30%;
  }
  .section1__bottom-icons p:nth-child(5) {
    width: 30%;
  }
  .section1__bottom-icons p:nth-child(6) {
    width: 30%;
  }
  .section1__bottom-icons p:nth-child(7) {
    width: 50%;
  }
  .section1__bottom-icons p:nth-child(8) {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .section2__box {
    margin: 1em;
  }
}
@media (min-width: 768px) {
  .section3__box-date {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .section3__box-date h3 {
    font-size: 2.5rem;
  }
  .section3__box-date p {
    font-size: 1.2rem;
    margin: 0 0 1.3em 0;
  }
  .section3__box-date div {
    margin: 0 2em;
  }
  .section3__box-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section3__box-card div:nth-child(1) {
    margin: 1em 1em 5em 0em;
  }
  .section3__box-card div:nth-child(2) {
    margin: 1em 1em 5em 1em;
  }
  .section3__box-card div:nth-child(3) {
    margin: 1em 0em 5em 1em;
  }
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: center;
  }
  .footer__top {
    width: 50%;
  }
  .footer__top-logo {
    width: 335px;
    height: 83px;
  }
  .footer__top-icons {
    margin: 0 1em 0 0;
  }
  .footer__top-addres {
    margin: 0 0 0 3em;
  }
  .footer__bottom {
    width: 40%;
  }
  .footer__bottom-line {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: gray;
    margin: 1.5em 0;
  }
  .footer__bottom-line::before {
    content: "";
    min-width: 35%;
    height: 1px;
    background: gray;
    left: 0;
    top: 50%;
    position: absolute;
  }
  .footer__bottom-line::after {
    content: "";
    min-width: 35%;
    height: 1px;
    background: gray;
    right: 0;
    top: 50%;
    position: absolute;
  }
}
@media (min-width: 992px) {
  .footer__bottom-box {
    width: 75%;
  }
}
@media (min-width: 1200px) {
  .footer__top-logo {
    max-width: 394px;
    max-height: 85px;
  }
  .footer__top-button {
    width: 257px;
    height: 55px;
  }
}
@media (min-width: 1400px) {
  .footer__top-logo {
    width: 454px;
    height: 103px;
  }
  .footer__top-button {
    width: 297px;
    height: 55px;
  }
}/*# sourceMappingURL=mediaQueries.css.map */