@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #e9e9e9;
}

a {
  text-decoration: none;
}

.wrapper {
  height: 100%;
  margin: 0 2em;
}

.nav__items .show {
  display: block;
}

.nav__burger.active .nav__burger-bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.nav__burger.active .nav__burger-bar:nth-child(2) {
  opacity: 0;
}

.nav__burger.active .nav__burger-bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav {
  position: relative;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3b4bdc;
  height: 60px;
  padding: 0 2em;
}
.nav__burger {
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
}
.nav__burger-bar {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3b4bdc;
  font-weight: bold;
  font-size: 19px;
  background: #ffffff;
  width: 115px;
  height: 40px;
  border-radius: 3px;
}
.nav__items {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 80px;
  font-size: 15px;
  z-index: 10;
}
.nav__item {
  display: none;
  z-index: 1;
  margin: 0.7em 0;
  color: #1d1d1b;
  font-weight: bold;
}

.section2 {
  margin-top: 10em;
  width: 100%;
  height: 100%;
}
.section2__header {
  text-transform: uppercase;
}
.section2__header-title {
  font-weight: bold;
  font-size: 2.6rem;
}
.section2__header-subtitle {
  color: #3b4bdc;
  margin-bottom: 2em;
  font-size: 1.5rem;
}
.section2__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.section2__box {
  width: 330px;
  height: 220px;
  margin: 2em 0;
  border-radius: 3px;
  position: relative;
  transition: background-color 0.3s ease;
  overflow: hidden;
}
.section2__box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease; /* Dodajemy transition na opacity dla overlaya */
}
.section2__box:hover::before {
  opacity: 1;
}
.section2__box-middle {
  position: absolute;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  opacity: 0;
  z-index: 2;
  color: #ffffff;
  transition: 0.3s ease;
  font-size: 1.5rem;
}
.section2__box-middle span {
  margin: 0 0 0 0.5em;
}
.section2__box:hover .section2__box-middle {
  opacity: 1;
}
.section2__box-description {
  position: absolute;
  bottom: 0;
  padding: 0.9em;
  font-size: 1.5rem;
  z-index: 10;
  text-transform: uppercase;
  color: #1d1d1b;
  background-color: #ffffff;
}

.footer__top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 4em 0;
}
.footer__top-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  border-radius: 6px;
  width: 330px;
  height: 78px;
  font-weight: bold;
  color: #ffffff;
  background-color: #1d1d1b;
}
.footer__top-box {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  margin: 2em 0;
}
.footer__top-box--line {
  border: 1px solid rgba(128, 128, 128, 0.281);
}
.footer__top-icons {
  display: flex;
  align-items: center;
  font-size: 3rem;
  margin: 0 0.1em 0 0;
}
.footer__top-icons .fa-brands {
  margin: 0 0.3em;
}
.footer__top-addres {
  font-size: 1.2rem;
  margin: 0 0 0 1em;
}
.footer__top-addres p {
  margin: 0.2em 0;
}
.footer__top-addres--bold {
  font-weight: bold;
}
.footer__top-button {
  position: relative;
  width: 277px;
  height: 47px;
  border-radius: 6px;
  background-color: #3b4bdc;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #3b4bdc;
}
.footer__top-button::after {
  content: "❯";
  position: absolute;
  top: 50%;
  left: calc(100% + 15px);
  transform: translateY(-50%);
  color: #3b4bdc;
}
.footer__bottom-line {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: rgba(128, 128, 128, 0.253);
  margin: 1.5em 0;
}
.footer__bottom-line::before {
  content: "";
  min-width: 35%;
  height: 1px;
  background: rgba(128, 128, 128, 0.253);
  left: 0;
  top: 50%;
  position: absolute;
}
.footer__bottom-line::after {
  content: "";
  min-width: 35%;
  height: 1px;
  background: rgba(128, 128, 128, 0.253);
  right: 0;
  top: 50%;
  position: absolute;
}
.footer__bottom-line2 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: rgba(128, 128, 128, 0.253);
  margin: 5em 0 1.5em 0;
}
.footer__bottom-line2::before {
  content: "";
  min-width: 22%;
  height: 1px;
  background: rgba(128, 128, 128, 0.253);
  left: 0;
  top: 50%;
  position: absolute;
}
.footer__bottom-line2::after {
  content: "";
  min-width: 22%;
  height: 1px;
  background: rgba(128, 128, 128, 0.253);
  right: 0;
  top: 50%;
  position: absolute;
}
.footer__bottom-list {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-width: 100px;
       column-width: 100px;
  margin-bottom: 4em;
}
.footer__bottom-list p {
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5em 0;
}/*# sourceMappingURL=style.css.map */