$main-color: #3b4bdc;
$main-color-dark: #2334ca;
$main-color-dark2: #192590;

$white: #ffffff;
$black: #1d1d1b;

$greyD3: #D3D3D3;
$greyE9: #E9E9E9;
$greyF2: #F2F2F2;
$greyF6: #F6F6F6;

$yellow: #ffcb45;
