$main-color: #3b4bdc;
$main-color-dark: #2334ca;
$main-color-dark2: #192590;

$white: #ffffff;
$black: #1d1d1b;

$greyD3: #d3d3d3;
$greyE9: #e9e9e9;
$greyF2: #f2f2f2;
$greyF6: #f6f6f6;

$yellow: #ffcb45;
