@use "./colors";

@font-face {
  font-family: "source_sans_probold";
  src: url("../fonts/sourcesanspro-bold-webfont.woff2") format("woff2"),
    url("../fonts/sourcesanspro-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "source_sans_problack";
  src: url("../fonts/sourcesanspro-black-webfont.woff2") format("woff2"),
    url("../fonts/sourcesanspro-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "source_sans_prolight";
  src: url("../fonts/sourcesanspro-light-webfont.woff2") format("woff2"),
    url("../fonts/sourcesanspro-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "source_sans_proregular";
  src: url("../fonts/sourcesanspro-regular-webfont.woff2") format("woff2"),
    url("../fonts/sourcesanspro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "source_sans_proitalic";
  src: url("../fonts/sourcesanspro-it-webfont.woff2") format("woff2"),
    url("../fonts/sourcesanspro-it-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "source_sans_prosemibold";
  src: url("../fonts/sourcesanspro-semibold-webfont.woff2") format("woff2"),
    url("../fonts/sourcesanspro-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/// mobile

@mixin burgerBtn {
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
}
@mixin logo {
  font-family: "source_sans_problack", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: colors.$main-color;
  font-size: 16px;
  background: colors.$white;
  width: 115px;
  height: 40px;
  border-radius: 3px;
  font-weight: bold;
}
@mixin h1 {
  font-family: "source_sans_problack" , sans-serif;;
  color: colors.$black;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 4%;
  margin-bottom: 0;
  text-transform: uppercase;
}
@mixin subheader {
  font-family: "source_sans_prolight", sans-serif;
  color: colors.$main-color;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 4%;
  margin-bottom: 30px;
  text-transform: uppercase;
}
@mixin h2 {
  font-family: "source_sans_probold" , sans-serif;;
  color: colors.$main-color;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 2%;
  margin-bottom: 15px;
  text-transform: uppercase;
}
@mixin h3 {
  font-family: "source_sans_prosemibold", sans-serif;;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2%;
  margin-bottom: 15px;
  text-transform: uppercase;
}
@mixin h4 {
  font-family: "source_sans_prosemibold", sans-serif;;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 4.5%;
  margin-bottom: 15px;
}
@mixin h5 {
  font-family: "source_sans_prosemibold", sans-serif;;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 2%;
  margin-bottom: 15px;
  color: colors.$black;
}
@mixin paragraph {
  font-family: "source_sans_proregular", sans-serif;;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 4%;
  padding-top: 20px;
  padding-bottom: 20px;
}
@mixin paragraphItalic {
  font-family: "source_sans_proitalic", sans-serif;;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 4%;
  padding-top: 20px;
  padding-bottom: 20px;
}

@mixin paragraphBold {
  font-family: "source_sans_probold", sans-serif;;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 4%;
  padding-top: 20px;
  padding-bottom: 20px;
}

@mixin buttonPrimary {
  cursor: pointer;
  position: relative;
  width: 257px;
  height: 47px;
  border-radius: 6px;
  background-color: colors.$main-color;
  color: colors.$white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid colors.$main-color;
  transition: 0.3s;
}
@mixin buttonSecondary {
  cursor: pointer;
  position: relative;
  width: 251px;
  height: 47px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0);
  color: colors.$black;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid colors.$greyD3;
}

/// desktop

@mixin h1Desktop {
  font-family: "source_sans_problack", sans-serif;
  color: colors.$black;
  font-size: 48px;
  line-height: 67px;
  letter-spacing: 4%;
  margin-bottom: 0;
}
@mixin subheaderDesktop {
  font-family: "source_sans_prolight", sans-serif;
  color: colors.$main-color;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 4%;
  margin-bottom: 60px;
}
@mixin h2Desktop {
  font-family: "source_sans_probold", sans-serif;;
  color: colors.$main-color;
  font-size: 26px;
  line-height: 24px;
  letter-spacing: 2%;
  margin-bottom: 40px;
}
@mixin h3Desktop {
  font-family: "source_sans_prosemibold", sans-serif;;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 2%;
  margin-bottom: 20px;
}
@mixin h4Desktop {
  font-family: "source_sans_prosemibold", sans-serif;;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 4.5%;
  margin-bottom: 15px;
}
@mixin h5Desktop {
  font-family: "source_sans_prosemibold", sans-serif;;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 2%;
  margin-bottom: 15px;
  color: colors.$black;
}
@mixin paragraphDesktop {
  font-family: "source_sans_proregular", sans-serif;;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 4%;
  padding-top: 20px;
  padding-bottom: 20px;
}
@mixin paragraphItalicDesktop {
  font-family: "source_sans_proitalic", sans-serif;;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 4%;
  padding-top: 20px;
  padding-bottom: 20px;
}

@mixin paragraphBoldDesktop {
  font-family: "source_sans_probold", sans-serif;;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 4%;
  padding-top: 20px;
  padding-bottom: 20px;
}
@mixin paragraphSmallDesktop {
  font-family: "source_sans_probold", sans-serif;;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 4%;
  padding-top: 20px;
  padding-bottom: 20px;
}

@mixin buttonPrimaryDesktop {
  cursor: pointer;
  position: relative;
  width: 257px;
  height: 47px;
  border-radius: 6px;
  background-color: colors.$main-color;
  color: colors.$white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid colors.$main-color;
}
@mixin buttonSecondaryDesktop {
  cursor: pointer;
  position: relative;
  width: 257px;
  height: 47px;
  border-radius: 6px;
  background-color: colors.$main-color;
  color: colors.$white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid colors.$main-color;
}
