@use "./colors";
@import "./mixins";
//nav + wrapper

@media (min-width: 500px) {
  .wrapper {
    margin: 0 5em;
  }
  .nav {
    padding: 0 5em;
  }
}

@media (min-width: 768px) {
  .nav {
    height: 82px;
    &__burger {
      display: none;
    }
    &__items {
      top: 0;
      position: relative;
      flex-direction: row;
      align-items: center;
    }
    &__item {
      display: block;
      color: colors.$white;
      margin: 0 1.5em;
    }
    &__item::after,
    &__item::before {
      border-bottom: 2px solid colors.$white;
    }
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
  .wrapper {
    margin: 0 12em;
  }
  .nav {
    padding: 0 0 0 12em;
  }
}
@media (min-width: 1800px) {
}

//section1

@media (min-width: 768px) {
  .section1 {
    &__bottom {
      &-icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        p {
          margin: 0.6em 0.6em;
          img {
            width: 60px;
            height: 60px;
          }
        }
        .medium {
          grid-column: span 3;
        }
        .wide {
          grid-column: span 2;
        }

        .narrow {
          grid-column: span 1;
        }
        p:nth-child(8) {
          margin-bottom: 0.6em;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .section1 {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    &__top {
      width: 80%;
    }
    &__bottom {
      margin-top: 5em;
    }
    &__container {
      width: 80%;
    }
  }
}

@media (min-width: 1200px) {
  .section1 {
    &__image {
      position: absolute;
      top: 0;
      right: -10%;
      width: 50%;
      height: 100%;
      background-image: url(../assets/section1/section1-desktop.png);
      background-size: contain;
      background-repeat: no-repeat;
      &-button {
        cursor: pointer;
        position: fixed;
        display: block;
        top: 100px;
        right: 1%;
        width: 297px;
        height: 55px;
        font-size: 1.4rem;
        border-radius: 6px;
        background-color: colors.$main-color;
        color: colors.$white;
        text-transform: uppercase;
        font-weight: bold;
        border: 1px solid colors.$main-color;
        transition: 0.3s;
        z-index: 15;
      }
      &-button:hover {
        background-color: colors.$main-color-dark;
      }
    }
    &__container {
      width: 65%;
    }
  }
}
@media (min-width: 1600px) {
  .section1 {
    &__image {
      right: -7%;
      width: 40%;
    }
  }
}
@media (min-width: 1800px) {
  .section1 {
    &__image {
      right: -5%;
      width: 40%;
    }
    &__header {
      &-title {
        @include h1Desktop;
      }
      &-subtitle {
        @include subheaderDesktop;
      }
    }
    &__top {
      width: 60%;
      &-title {
        @include paragraphDesktop;
        padding: 0;
      }
      &-list {
        p {
          @include paragraphDesktop;
          padding: 0;
        }
      }
    }
    &__container {
      width: 70%;
    }
    &__bottom {
      h3 {
        @include h2Desktop;
      }
      p {
        @include paragraphDesktop;
      }
    }
  }
}

//section2

@media (min-width: 758px) {
  .section2 {
    &__box {
      margin: 0.5em 0.5em;
    }
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .section2 {
    &__box {
      margin: 1em;
    }
  }
}

@media (min-width: 1400px) {
  .section2 {
    &__header {
      &-title {
        @include h1Desktop;
      }
      &-subtitle {
        @include subheaderDesktop;
      }
    }
    &__box {
      width: 330px;
      height: 300px;
      background-repeat: no-repeat;
      margin: 2em;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 90%;
      }
      &-description {
        @include h4Desktop;
        margin-bottom: 0;
      }
    }
  }
}

//section 3

@media (min-width: 768px) {
  .section3 {
    &__box {
      &-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 2em;
        div {
          margin: 1em;
        }
        div:nth-child(3) {
          margin-bottom: 1em;
        }
      }
    }
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1120px) {
  .section3 {
    &__box {
      width: 100%;
      &-main {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
      }
    }
  }
}

@media (min-width: 1400px) {
  .section3 {
    &__container {
      padding: 5em 0;
    }
    &__header {
      &-title {
        @include h1Desktop;
      }
      &-subtitle {
        @include subheaderDesktop;
      }
    }
    &__box {
      &-date {
        &--number {
          @include h1Desktop;
          color: colors.$white;
        }
        &--description {
          @include h3Desktop;
        }
      }
      &-card {
        div {
          width: 450px;
          height: 210px;
          margin: 2em;
        }
        div:nth-child(3) {
          margin-bottom: 2em;
        }
        h4 {
          color: colors.$black;
          @include h4Desktop;
        }
        p {
          @include paragraphDesktop;
        }
      }
    }
  }
}

//footer

@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: center;
    &__top {
      width: 50%;
      &-logo {
        width: 335px;
        height: 83px;
      }

      &-icons {
        margin: 0 1em 0 0;
      }
      &-addres {
        margin: 0 0 0 3em;
      }
      &-addres::after {
        left: -25%;
      }
    }
    &__bottom {
      width: 40%;

      &-line::before {
        min-width: 35%;
      }
      &-line::after {
        min-width: 35%;
      }
    }
  }
}

@media (min-width: 992px) {
  .footer {
    &__bottom {
      &-box {
        width: 75%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .footer {
    &__top {
      &-logo {
        max-width: 394px;
        max-height: 85px;
      }
      &-button {
        width: 257px;
        height: 55px;
      }
    }
  }
}

@media (min-width: 1400px) {
  .footer {
    padding-top: 4em;
    &__top {
      &-logo {
        width: 454px;
        height: 103px;
      }
      &-button {
        width: 297px;
        height: 55px;
      }
      &-addres {
        p {
          @include paragraphDesktop;
          padding: 0;
        }
        &--bold {
          @include paragraphBoldDesktop;
        }
      }
      &-addres::after {
        left: -20%;
      }
    }
    &__bottom {
      &-line::before {
        min-width: 38%;
      }
      &-line {
        margin-bottom: 1.5em;
      }
      &-line::after {
        min-width: 38%;
      }
      &-line2 {
        margin-bottom: 1.5em;
      }
      &-line2::before {
        min-width: 28%;
      }
      &-line2::after {
        min-width: 28%;
      }
      p {
        @include paragraphDesktop;
        font-size: 1.3rem;
        padding: 0.2em 0;
      }
    }
  }
}
