@use "./colors";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
.wrapper {
  height: 100%;
  margin: 0 2em;
}
//nav
.nav__items .show {
  display: block;
}
.nav__burger.active .nav__burger-bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.nav__burger.active .nav__burger-bar:nth-child(2) {
  opacity: 0;
}

.nav__burger.active .nav__burger-bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.nav {
  position: relative;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: colors.$main-color;
  height: 60px;
  padding: 0 2em;
  &__burger {
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    &-bar {
      width: 100%;
      height: 3px;
      background-color: colors.$white;
      transition: transform 0.3s ease, opacity 0.3s ease;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: colors.$main-color;
    font-weight: bold;
    font-size: 19px;
    background: colors.$white;
    width: 115px;
    height: 40px;
    border-radius: 3px;
  }
  &__items {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 80px;
    font-size: 15px;
    z-index: 10;
  }
  &__item {
    display: none;
    z-index: 1;
    margin: 0.7em 0;
    color: colors.$black;
    font-weight: bold;
  }
}

.section2 {
  margin-top: 10em;
  &__header {
    text-transform: uppercase;
    &-title {
      font-weight: bold;
    }
    &-subtitle {
      color: colors.$main-color;
    }
  }
  &__container {
  }
  &__box {
    height: 330px;
    width: 220px;
    .your-class-name {
      @for $i from 1 through 8 {
        &-img#{$i} {
          background-image: url("../assets/section2/image#{$i}.png");
          background-position: center;
          width: 100%;
          height: 10em;
        }
      }
    }
    &-descriprtion {
      text-transform: uppercase;
      color: colors.$black;
    }
  }
}

//footer

.footer {
  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4em 0;
    &-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 4rem;
      border-radius: 6px;
      width: 330px;
      height: 78px;
      font-weight: bold;
      color: colors.$white;
      background-color: colors.$black;
    }
    &-box {
      display: flex;
      justify-content: space-around;
      max-width: 100%;
      margin: 2em 0;
      &--line {
        border: 1px solid rgba(128, 128, 128, 0.281);
      }
    }
    &-icons {
      display: flex;
      align-items: center;
      font-size: 3rem;
      margin: 0 0.1em 0 0;
      .fa-brands {
        margin: 0 0.3em;
      }
    }
    &-addres {
      font-size: 1.2rem;
      margin: 0 0 0 1em;
      p {
        margin: 0.2em 0;
      }
      &--bold {
        font-weight: bold;
      }
    }
    &-button {
      position: relative;
      width: 277px;
      height: 47px;
      border-radius: 6px;
      background-color: colors.$main-color;
      color: colors.$white;
      text-transform: uppercase;
      font-weight: bold;
      border: 1px solid colors.$main-color;
    }
    &-button::after {
      content: "\276F";
      position: absolute;
      top: 50%;
      left: calc(100% + 15px);
      transform: translateY(-50%);
      color: colors.$main-color;
    }
  }
  &__bottom {
    &-line {
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: colors.$light-gray;
      margin: 1.5em 0;
    }
    &-line::before {
      content: "";
      min-width: 35%;
      height: 1px;
      background: colors.$light-gray;
      left: 0;
      top: 50%;
      position: absolute;
    }
    &-line::after {
      content: "";
      min-width: 35%;
      height: 1px;
      background: colors.$light-gray;
      right: 0;
      top: 50%;
      position: absolute;
    }
    &-line2 {
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: colors.$light-gray;
      margin: 5em 0 1.5em 0;
    }
    &-line2::before {
      content: "";
      min-width: 22%;
      height: 1px;
      background: colors.$light-gray;
      left: 0;
      top: 50%;
      position: absolute;
    }
    &-line2::after {
      content: "";
      min-width: 22%;
      height: 1px;
      background: colors.$light-gray;
      right: 0;
      top: 50%;
      position: absolute;
    }
    &-list {
      column-count: 2;
      column-width: 100px;
      margin-bottom: 4em;
      p {
        font-weight: bold;
        text-transform: uppercase;
        padding: 0.5em 0;
      }
    }
  }
}
