@use "./colors";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #e9e9e9;
}
a {
  text-decoration: none;
}
.wrapper {
  height: 100%;
  margin: 0 2em;
}
//nav
.nav__items .show {
  display: block;
}
.nav__burger.active .nav__burger-bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.nav__burger.active .nav__burger-bar:nth-child(2) {
  opacity: 0;
}

.nav__burger.active .nav__burger-bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.nav {
  position: relative;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: colors.$main-color;
  height: 60px;
  padding: 0 2em;
  &__burger {
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    &-bar {
      width: 100%;
      height: 3px;
      background-color: colors.$white;
      transition: transform 0.3s ease, opacity 0.3s ease;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: colors.$main-color;
    font-weight: bold;
    font-size: 19px;
    background: colors.$white;
    width: 115px;
    height: 40px;
    border-radius: 3px;
  }
  &__items {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 80px;
    font-size: 15px;
    z-index: 10;
  }
  &__item {
    display: none;
    z-index: 1;
    margin: 0.7em 0;
    color: colors.$black;
    font-weight: bold;
  }
}

///section 2

.section2 {
  margin-top: 10em;
  width: 100%;
  height: 100%;
  &__header {
    text-transform: uppercase;
    &-title {
      font-weight: bold;
      font-size: 2.6rem;
    }
    &-subtitle {
      color: colors.$main-color;
      margin-bottom: 2em;
      font-size: 1.5rem;
    }
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &__box {
    width: 330px;
    height: 220px;
    margin: 2em 0;
    border-radius: 3px;
    position: relative;
    transition: background-color 0.3s ease;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1;
      opacity: 0;
      transition: opacity 0.3s ease; /* Dodajemy transition na opacity dla overlaya */
    }

    &:hover::before {
      opacity: 1;
    }

    &-middle {
      position: absolute;
      top: 39%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      opacity: 0;
      z-index: 2;
      color: colors.$white;
      transition: 0.3s ease;
      font-size: 1.5rem;
      span {
        margin: 0 0 0 0.5em;
      }
    }
    &:hover .section2__box-middle {
      opacity: 1;
    }
    &-description {
      position: absolute;
      bottom: 0;
      padding: 0.9em;
      font-size: 1.5rem;
      z-index: 10;
      text-transform: uppercase;
      color: colors.$black;
      background-color: colors.$white;
    }
  }
}

//section 3

.section3 {
  &__container {
    position: relative;
    background-image: url(../assets/section3/grafika.png);
    width: 100%;
    height: 100%;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(35, 16, 202, 0.788);
      z-index: 1;
    }
  }
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: colors.$white;
    padding-top: 4em;
    width: 100%;
    height: 100%;
    &-date {
      z-index: 2;
      h3 {
        font-size: 2rem;
      }
      p {
        font-size: 1.5rem;
        margin: 0 0 1.3em 0;
      }
    }
    &-card {
      z-index: 10;
      div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 2;
        width: 330px;
        height: 140px;
        margin: 2em 0;
        padding: 2em;
        background-color: colors.$white;
        color: colors.$black;
        border-radius: 2px;
        z-index: 10;
      }
      div:nth-child(3) {
        margin-bottom: 5em;
      }
      h4 {
        font-size: 1.6rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}

//footer

.footer {
  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4em 0;
    &-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 4rem;
      border-radius: 6px;
      width: 330px;
      height: 78px;
      font-weight: bold;
      color: colors.$white;
      background-color: colors.$black;
    }
    &-box {
      display: flex;
      justify-content: space-around;
      max-width: 100%;
      margin: 2em 0;
      &--line {
        border: 1px solid rgba(128, 128, 128, 0.281);
      }
    }
    &-icons {
      display: flex;
      align-items: center;
      font-size: 3rem;
      margin: 0 0.1em 0 0;
      .fa-brands {
        margin: 0 0.3em;
      }
    }
    &-addres {
      font-size: 1.2rem;
      margin: 0 0 0 1em;
      p {
        margin: 0.2em 0;
      }
      &--bold {
        font-weight: bold;
      }
    }
    &-button {
      position: relative;
      width: 277px;
      height: 47px;
      border-radius: 6px;
      background-color: colors.$main-color;
      color: colors.$white;
      text-transform: uppercase;
      font-weight: bold;
      border: 1px solid colors.$main-color;
    }
    &-button::after {
      content: "\276F";
      position: absolute;
      top: 50%;
      left: calc(100% + 15px);
      transform: translateY(-50%);
      color: colors.$main-color;
    }
  }
  &__bottom {
    margin: 0 2em;
    &-line {
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: colors.$light-gray;
      margin: 1.5em 0;
    }
    &-line::before {
      content: "";
      min-width: 35%;
      height: 1px;
      background: colors.$light-gray;
      left: 0;
      top: 50%;
      position: absolute;
    }
    &-line::after {
      content: "";
      min-width: 35%;
      height: 1px;
      background: colors.$light-gray;
      right: 0;
      top: 50%;
      position: absolute;
    }
    &-line2 {
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: colors.$light-gray;
      margin: 5em 0 1.5em 0;
    }
    &-line2::before {
      content: "";
      min-width: 22%;
      height: 1px;
      background: colors.$light-gray;
      left: 0;
      top: 50%;
      position: absolute;
    }
    &-line2::after {
      content: "";
      min-width: 22%;
      height: 1px;
      background: colors.$light-gray;
      right: 0;
      top: 50%;
      position: absolute;
    }
    &-list {
      column-count: 2;
      column-width: 100px;
      margin-bottom: 4em;
      p {
        font-weight: bold;
        text-transform: uppercase;
        padding: 0.5em 0;
      }
    }
  }
}
